@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('./assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('./assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    url('./assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    url('./assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/eot/IRANSansWeb_Light.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    url('./assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'),
    url('./assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    url('./assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    url('./assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/eot/IRANSansWeb.eot');
    src: url('./assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('./assets/fonts/woff/IRANSansWeb.woff') format('woff'),
    url('./assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

body {
    height: 100vh;
    font-family: 'IRANSans', Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.newsbox {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 20%);
    flex-direction: row;
    flex-wrap: wrap;
}

.newsbox .newsimg {
    flex-grow: 1;
    flex-basis: calc(40% - 20px);
    margin: 10px;
    min-width: 300px;
}

.newsbox .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.newsbox .actions .newsbutton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 5px;
}

.newsbox .content {
    flex-grow: 1;
    flex-basis: calc(60% - 22px);
    margin: 10px;
    min-width: 300px;
}

.newsbox .content h3 {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #333;
}

.myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 255, 0.747);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.myBtn:hover {
    background-color: rgb(0, 174, 255)
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 10px;
    transition: all 0.3s;
    padding: 7px;
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 20%);
}

.box:hover {
    background-color: rgb(0, 145, 189);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    -webkit-tap-highlight-color: transparent;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 160px;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 30px;
    top: -75px;
    left: -75px;
    width: 160px;
    z-index: 5;
}

.title {
    color: white;
    font-size: 80px;
    line-height: 84px;
    margin-top: 60px;
    text-align: center;
}




.container {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(31, 90, 255);
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 5px 15px -10px #111;
    border-radius: 10px;
  }
  
  .logo {
    order: 1;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 10px rgba(17, 17, 17, 0.774);
    font-size: 28px;
    color: black;
    line-height: 32px;
    padding: 17px;
  }

  .date {
      border:0;
      margin-right: -80px;
      background-color: rgba(0, 0, 0, 0);
    }
    
  @media all and (max-width: 800px) {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: stretch;
      align-items: stretch;
    }
  
    .logo {
      order: 0;
      text-align: center;
      width: 100px;
      margin: auto auto 10px;
      padding-right: 10px;
    }
  
  }